<div class="mb-3">
    <label class="form-label">{{label}} </label>
    <input type="number" name="{{name}}" class="form-control" {{#if required}}required{{/if}} {{#if value}}value="{{value}}"{{/if}}/>
    {{#if help_text}}
        <div class="form-text">{{{help_text}}}</div>
    {{/if}}
 </div>
