<div id="{{name}}"  class="section mb-5">
    <h3 class="section-title inline">{{label}}</h3>
    <a class="collapse-link-top mt-2 float-end">
        <span class="fa fa-chevron-down"></span>
    </a>
    <hr>
    <div class="children-anchor-point collapse show">
    </div>
</div>